<!DOCTYPE html>
<html>
<head>
    <title>Weekly Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <h2>Weekly Milk Report</h2>
</div>

<div class="main">
<table border="1" cellpadding="10">
<tr>
<th>Week</th>
<th>Milk (L)</th>
<th>Income</th>
</tr>

{% for w in weeks %}
<tr>
<td>Week {{ w }}</td>
<td>{{ weeks[w] }}</td>
<td>₹ {{ income[w] }}</td>
</tr>
{% endfor %}

</table>

<br>
<a href="/">Back to Dashboard</a>
</div>

</body>
</html>
